# ===== BASE DE DATOS MS-FLOTA (MySQL) =====
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=flotadb
MYSQL_USER=flota_user
MYSQL_PASSWORD=flota_pass

# ===== BASE DE DATOS MS-PEDIDOS (PostgreSQL) =====
POSTGRES_DB=pedidosdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123

# ===== BASE DE DATOS MS-EVENTOS (MongoDB) =====
MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=mongo123
MONGO_DATABASE=eventosdb

# ===== AWS ATHENA (MS-ANALITICA) =====
AWS_ACCESS_KEY_ID=tu_access_key_aqui
AWS_SECRET_ACCESS_KEY=tu_secret_key_aqui
AWS_REGION=us-east-1
ATHENA_S3_OUTPUT_LOCATION=s3://tu-bucket-athena-resultados/
ATHENA_DATABASE=lastmile_db

# ===== FRONTEND =====
VITE_API_URL=http://localhost:8001
