MYSQL_ROOT_PASSWORD=        # pon tu contraseña aquí
MYSQL_DATABASE=             # nombre de tu base de datos
MYSQL_USER=                 # tu usuario
MYSQL_PASSWORD=             # tu contraseña
DATABASE_URL=mysql+pymysql://MYSQL_USER:MYSQL_PASSWORD@mysql_db:3306/MYSQL_DATABASE
